<component name="libraryTable">
  <library name="springframework.cloud.spring.netflix.eureka.client4" type="repository">
    <properties maven-id="org.springframework.cloud:spring-cloud-netflix-eureka-client:3.0.4" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/cloud/spring-cloud-netflix-eureka-client/3.0.4/spring-cloud-netflix-eureka-client-3.0.4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>